// layout for signup/signin pages

doctype html
html(ng-app)
	include ../includes/head

	body.signup-signin
		div.navbar.navbar-inverse.navbar-fixed-top
			div.container
				div.navbar-header
					a(href='/').navbar-brand #{appName}
				div.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href="/signup") Sign up
						li
							a(href="/signin") Sign in
					
		block content
	include ../includes/foot