extends layout

block content
  #header-logo
    img(src='/images/logo.png', alt='Harmonic')
  #fb
    
  //- span.song-name lorem ipsum here
  //- img.profile-photo(src='profile.jpg')
  //- img.album-photo(src='album.png')