doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/progressjs.min.css')
    link(rel='stylesheet', href='/css/index.css')
  body
  	span.accessToken #{accessToken}
    block content
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    block js
