extends layout

block content
  .flyAway
  .overlay
    img.logo(src='/images/logo.svg')
    .profileArea
      img.photo
      .name
    ul.friends
      .friend
        span.songName Testing
        img.profilePhoto
        img.albumPhoto

  .underlay
    .centerContent
      .left.arrow
        .char ✘
      .right.arrow
        .char ▶
      audio#widget(controls)
        .char ✓
      .photo
      .control

block js
  script(src='/socket.io/socket.io.js')
  script(src="/js/play.js")
  script(src="http://connect.soundcloud.com/sdk.js")
  script(src="http://w.soundcloud.com/player/api.js")
