extends layout

block content
  .overlay
    img.logo(src='/images/logo.svg')
    ul.friends
      .friend

  .underlay
    .centerContent
      .left.arrow
        .char ✘
      .right.arrow
        .char ✓
      .photo
      .control

block js
  script(src='/socket.io/socket.io.js')
  script(src="/js/play.js")