extends layout

block content
  .flyAway
  .overlay
    .wave
      svg.waveForm-play(xmlns='http://www.w3.org/2000/svg', viewbox='0 -2 64 34', preserveaspectratio='none')
        path
          animate.animate(attributename='d', values=' M0 16 C0 16 0 16 0 16 C0 16 0 16 0 16 C6 16 8 8 16 8 C24 8 24 32 32 32 C40 32 40 8 48 8 C56 8 58 16 64 16 ;M0 16 C0 16 0 16 0 16 C6 16 8 24 16 24 C24 24 24 0 32 0 C40 0 40 24 48 24 C56 24 58 16 64 16 C64 16 64 16 64 16 ;M0 16 C6 16 8 8 16 8 C24 8 24 32 32 32 C40 32 40 8 48 8 C56 8 58 16 64 16 C64 16 64 16 64 16 C64 16 64 16 64 16 ', dur='9s', repeatcount='indefinite')
        path
          animate.animate(attributename='d', values=' M0 16 C0 16 0 16 0 16 C0 16 0 16 0 16 C6 16 8 8 16 8 C24 8 24 32 32 32 C40 32 40 8 48 8 C56 8 58 16 64 16 ;M0 16 C0 16 0 16 0 16 C6 16 8 24 16 24 C24 24 24 0 32 0 C40 0 40 24 48 24 C56 24 58 16 64 16 C64 16 64 16 64 16 ;M0 16 C6 16 8 8 16 8 C24 8 24 32 32 32 C40 32 40 8 48 8 C56 8 58 16 64 16 C64 16 64 16 64 16 C64 16 64 16 64 16 ', dur='7s', repeatcount='indefinite')

    img.logo(src='/images/logo.svg')
    .profileArea
      .name #{name}
      img.photo(src = "#{photo}")
    .playlistArea
      .playlistButton 
        .char ❮
        .playlistBody

    ul.friends
      .friend
        .slideArea
          div.songName Song Name
          img.albumPhoto(src='/images/default.png')
        img.profilePhoto(src='/images/logo.png')

  .underlay
    .centerContent
      .left.arrow
        .char ✘
      .right.arrow
        .char ✓
      audio#widget
      .photo.artwork
      .progress
      .control

block js
  script(src='/socket.io/socket.io.js')
  script(src="/js/ui.js")
  script(src="/js/progress.min.js")
  script(src="http://connect.soundcloud.com/sdk.js")
  script(src="http://w.soundcloud.com/player/api.js")
  script(src="/js/play.js")
