extends layout

block content
  .flyAway
  .overlay
    img.logo(src='/images/logo.svg')
    .profileArea
      img.photo(src=#{photo})
      .name
    ul.friends
      .friend
        .slideArea
          div.songName Testing
          img.albumPhoto(src='/images/default.png')
        img.profilePhoto(src='/images/logo.png')

  .underlay
    .centerContent
      .left.arrow
        .char ✘
      .right.arrow
        .char ✓
      audio#widget(controls)
      .photo
      .control

block js
  script(src='/socket.io/socket.io.js')
  script(src="/js/ui.js")
  script(src="http://connect.soundcloud.com/sdk.js")
  script(src="http://w.soundcloud.com/player/api.js")
  script(src="/js/play.js")
