form.signin-option(method="get", action="/auth/facebook")
	input.btn.btn-primary.btn-block#sign-in-facebook(type="submit", value="Sign In with Facebook")
form.signin-option(method="get", action="/auth/twitter")
	input.btn.btn-primary.btn-block#sign-in-twitter(type="submit", value="Sign In with Twitter")
form.signin-option(method="get", action="/auth/google")
	input.btn.btn-primary.btn-block#sign-in-google(type="submit", value="Sign In with Google")
form.signin-option(method="get", action="/auth/soundcloud")
	input.btn.btn-primary.btn-block#sign-in-soundcloud(type="submit", value="Sign In with SoundCloud")