extends ../layouts/signup-signin

block content
	div.signup-container
		form.form-signup(name="signin", method="post", action="/signin")
			h2.form-signin-heading Sign In

			if messages && messages.length
				for message in messages
						div.alert.alert-danger.alert-dismissable
							button.close(data-dismiss="alert", aria-hidden="true") &times;
							span #{message}

			input.form-control(type="text", placeholder="Username or Email", name="username", required=true, autofocus=true)
			input.form-control(type="password", placeholder="Password", name="userpassword", required=true)
			//div.control-group.pull-right
			//	div.controls.controls-row
			//		label.checkbox Remember me
			//			input(type="checkbox", value="remember-me")
			//			button.btn-link Forgot Password?
			button.btn.btn-lg.btn-success.btn-block(type="submit") Sign in
		hr.custom
		include ./oauth
