body
  background-color #2a2c2b

#header-logo
  height 200px
  width 600px
  margin-top 10%
  margin-left auto
  margin-right auto
  margin-bottom 20px
  .logo
    width 100%

#fb
  background-image url("/images/login-facebook.png")
  background-repeat no-repeat
  cursor pointer
  width 275px
  height 59px
  margin-left auto
  margin-right auto

.profile-photo, .album-photo
  border solid #6a6a61 3px
  position absolute
  color 

.song-name
  position absolute
  width 1000px
  bottom 220px
  color #fffcc4

.profile-photo
  height 100px
  width 100px
  z-index 101
  bottom 10px

.album-photo
  width 90px
  height 90px
  margin-left 5px
  z-index 100
  bottom 35px

.waveForm
  position absolute
  margin-top -300px
  fill none
  stroke rgba(218, 55, 53, 0.35)
  stroke-width 0.25
  width 100%
  left 0px
  height 40%
  z-index -1000