audio
  display none

.overlay
  font-family 'Oswald', 'sans-serif'
  pointer-events none
  z-index 1000
  overlayPadding = 20px
  .profileArea
    top 0
    right 10px
    padding overlayPadding
    .name
      color white
      float left
      margin-right 12px
      margin-top 15px
    .photo
      width 50px
      height 50px
      float right
      border solid #fffcc4 2px
  .playlistArea
    pointer-events auto
    position absolute
    top 65px
    right 10px
    padding overlayPadding
    .playlistButton
      &:hover
        background-color darkGray
      color white
      cursor pointer
      background-color blue
      padding 7px
      border-radius 5px
      float left
      .playlistBody
        display none
        width 100%
        height 100%
  .logo
    top 0
    left 0
    padding overlayPadding
    width 120px
  ul.friends
    bottom 10px
    width 100%
    height 100px
    text-align center
    .friend
      &:hover
        .slideArea
          bottom 100px
          .songName
            opacity 1
      position relative
      pointer-events auto
      width 100px
      height 100px
      background-color blue
      display inline-block
      margin 0 10px
      .slideArea
        z-index -1
        transition bottom 0.4s linear
        position absolute
        bottom 20px
        .songName
          transition opacity 0.4s linear
          opacity 0
          text-align center
          color #fffcc4
        img.albumPhoto
          width 90px
          height 90px
          margin 5px
          border solid #fffcc4 2px
      img.profilePhoto
        z-index 1000
        height 100px
        width 100px
        border solid #fffcc4 2px


  .profileArea, .logo, ul.friends
    position absolute
.underlay
  font-family 'Oswald', 'sans-serif'
  background-color gray
  text-align center
  > .centerContent
    position relative
    background-color darkGray
    display inline-block
    width 600px
    height 100%
    margin 0 auto
    arrowWidth = 60px
    .arrow
      &:hover
        opacity 0.5
      transition opacity 0.2s linear
      position relative
      height 100%
      width arrowWidth
      color beige
      cursor pointer
      charWidth = 25px
      font-size charWidth
      charPadding = 10px
      &.left
        background-color red
        float left
      &.right
        background-color blue
        float right
      .char
        width 100%
        position absolute
        top 50%
        height 10px
        margin-top -5px
    .photo
      margin 0 auto
      photoSize = 400px
      width photoSize
      height photoSize
      margin-top 100px
.overlay, .underlay
  height 100%
  width 100%
  position absolute

.flyAway
  position absolute
  display none
  height 100%
  top 0
  left 0
  z-index 500000000
  .centerContent
    background-color none
    display inline-block
    width 600px
    height 100%
    margin 0 auto
    height 100%
    position absolute
    arrowWidth = 60px

.progress {
  width: 400px;
  margin: 0 auto;
}

.progressjs-inner {
  height: 8px!important;
}

.progressjs-theme-blue .progressjs-inner {
  background-color: rgb(58, 139, 145)!important;
}
